.contact-form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mail-text {
    padding-bottom: 1rem;
    font-weight: lighter;
    font-size: 2rem;
    letter-spacing: 2px;
    border-bottom: #828282 1px solid;
}

.social-media {
    display: flex;
    padding-top: 2rem;
}

.social-media > a {
    border: 1px solid transparent;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
    box-sizing: border-box;
}

.social-media > a:hover {
    border: 1px solid #1DA1F2;
    border-radius: 25%;
    box-sizing: border-box;
}

.social-media > a:last-child {
    margin-left: 3rem;
}

.social-media > a > img {
    width: 100%;
    height: 100%;
}
