.project-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: 2px solid black; */
    padding: 1rem;
    width: 15rem;
    align-items: center;
}

.project-card header {
    color: white;
    letter-spacing: 1px;
    margin-top: 1rem;
    font-size: 20px;
    text-shadow: 0px 0px 20px #040201;
    /* display: block;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 1rem; */
}

.card-link {
    text-decoration: none;
    border-bottom: none;
}

.project-card p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    font-weight: lighter;
    margin: 0;
    color: #828282;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1.5rem;
}

.social-link, .social-link:visited, .social-link:active {
    display: block;
    text-decoration: none;
    height: 2rem;
    width: 2rem;
    box-sizing: content-box;
    border: white 2px solid;
    border-radius: 50%;
}

.social-link:hover {
    border: #2977EB 2px solid;
    border-radius: 50%;
}


/* @media (max-width: 600px) {
    .project-card > p {
        -webkit-line-clamp: 3;
    }

    .project-card >  .project-icon {
        width: 24px;
        height: 24px;
    }

    .project-card{
        width: 8rem;
        gap: 0.5rem;
    }
    
    /* .project-card > div > .social-link {
        width: 16px;
        height: 16px;
    } 
}   */